@{
    Layout = null;
}

<form class="form-horizontal">
    <div class="form-group" data-bind="if: selectOptionsInitialized">
        <label for="station1Input">Station 1</label>
        <select class="form-control" data-bind="attr:{id: slect1Id}, select2: stationOptions, value: station1Name"></select>
    </div>
    <div class="form-group" data-bind="if: selectOptionsInitialized">
        <label for="station2Input">Station 2</label>
        <select class="form-control" data-bind="attr:{id: slect2Id}, select2: stationOptions, value: station2Name"></select>
    </div>
    <button type="submit" class="btn btn-default" data-bind="enable: canCalculate, click: calculateDistance, attr:{title: calculateBtnTooltip}">Calculate</button>
    <p/>
    <div class="form-group" data-bind="visible: isDistanceVisible">
        <label for="distanceResult">Distance between stations (km):</label>
        <span  class="highlighted-result" id="distanceResult" data-bind="text: distanceResult, enable: false"></span>
    </div>
</form>