@section scripts
{
    <script type="text/javascript" src="~/Scripts/wwwroot/lib/requirejs/require.js"></script>
    <script>
        require(['/Scripts/require.config.js'], function() {
            require(['/Scripts/Pages/Home/startup.js']);
        });
    </script>
}

@{
    ViewBag.Title = "Index";
}

<br/>
<div data-bind="component: {name: route().component}"></div>